<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Main Page</title>
</head>
<body>

  <div class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">HELLO</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
      </ul>
    </div>
    
    
    
    <h1>This is my first app!</h1>
    
  </div>

  <input type="text" name="title" id="title" [(ngModel)]="title">
  <h3>{{ title }}</h3>
</body>
</html>